body {
    max-width: 1200px; 
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
    
}
/*MENU---------------------------------------------------------------------*/
.menu {
    width: 20%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f6f6f6;
    box-shadow: 5px 0px 3px 0px #CCCCCC;
}
h2 {
    
    margin: 20px 0 0 20px;
    font-weight: normal;
}
.line  {
    width: 98%;
    margin: 0 auto;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0 ;
}
ul {
    list-style-type: none;
    text-decoration: none;
}
li img {
    width: 20px;
    height: 20px;
    
}
ul a {
    text-decoration: none;
    padding: 10px 0px 10px 18px;
    display: block;
    width: 100%;
    color: #beb9b7;
}
a:hover {
    background-color: #c32056;
    box-shadow: 5px 2px 5px 0px #ccc;
}
a::before {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: contain
}
ul  li:nth-child(1) a{
    background-color: #c32056;
    box-shadow: 5px 2px 5px 0px #ccc;
}
ul  li:nth-child(1) a::before{
    content: '';
    background-image: url(../img/dashboard_white.svg);  
}
ul  li:nth-child(2) a::before{
    content: '';
    background-image: url(../img/account_gray.svg);
}
ul  li:nth-child(2):hover a::before{
    content: '';
    background-image: url(../img/account_white.svg);
}

ul  li:nth-child(3) a::before{
    content: '';
    background-image: url(../img/map_gray.svg);
}
ul  li:nth-child(3):hover a::before{
    content: '';
    background-image: url(../img/map_white.png);
}
ul  li:nth-child(4) a::before{
    content: '';
    background-image: url(../img/notify_gray.svg);
}
ul  li:nth-child(4):hover a::before{
    content: '';
    background-image: url(../img/notify_white.png);
}
ul  li:nth-child(5) a::before{
    content: '';
    background-image: url(../img/support_gray.svg);
}
ul  li:nth-child(5):hover a::before{
    content: '';
    background-image: url(../img/support_white.png);
}
li:nth-child(1) a:active{
    background-color: #c32056;
}
li {
    display: flex;
    width: 90%;
}
/* MAIN---------------------------------------------------------------*/
.main {
    margin-left: 23%;
}
.burg > p {
    margin: 0;
    font-size: 22px;
    padding: 20px 0 0 0 ;
}
/*DASHBOARD----------------------------------------------------------*/
.dash, .data, .sale    {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}


.dash_item {
    width: 23%;
    position: relative;
    border: 1px solid #ccc;
    margin-top: 40px;
    box-shadow: 5px 2px 5px 0px #E0DBD7;
}
.dash_item img {
    width: 45px;
    height: 45px;
    padding: 10px;
}
.dash_item h3,
.dash_item h4,
.dash_item h5,
.dash_item h6,
.data_item h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 11px;
    padding: 8px 10px 8px 10px;
}
.dash_item h3::before,
.dash_item h4::before,
.dash_item h5::before,
.dash_item h6::before,
.data_item h6::before{
    width: 10px;
    height: 10px;
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: baseline;
    padding-right: 10px;
}
.dash_item h3::before{
    content: '';
    background-image: url(../img/exclamation-triangle-solid.svg);
}
.dash_item h4::before{
    content: '';
    background-image: url(../img/calendar.png);
}
.dash_item h5::before {
    content: '';
    background-image: url(../img/down.png);
}
.dash_item h6::before,
.data_item h6::before {
    content: '';
    background-image: url(../img/time.png);
}
.dash_line {
    width: 88%;
    height: 1px;
    margin: 0 auto;
    background-color: #ccc;
}

.bars, .shop, .tag, .plane {
    width: 70px;
    height: 70px;
    background-color: #448b00;
    display: inline-block;
    position: absolute;
    left: 16px;
    top: -16px;
}
.green {
    background-color: #448b00;
}
.yellow {
    background-color: #d89e24;
}
.blue {
    background-color: #274d97;
}
.red {
    background-color: #c32056;
}
.dash_item span {
    font-size: 13px;
    display: block;
    text-align: right;
    margin-top: 20px;
    padding: 0 5px 0 0 ;
}
.dash_item p {
    margin-top: 0;
    text-align: right;
    font-size: 20px;
    padding: 0 5px 0 0 ;
}
/* DATA-----------------------------------------------------------*/
.data {
    margin-top: 40px;
}
.data_item {
    width: 32%;
    border: 1px solid #ccc;
    position: relative;
    box-shadow: 5px 2px 5px 0px #E0DBD7;
}
.graph {
    width: 90%;
    position: absolute;
    left: 15px;
    top: -15px;
    text-align: center;
}
.data_item img {
    width: 90%;
    padding: 10px 0 10px 0;    
}
.data_item p {
    margin: 140px 0px 10px 14px;
    font-size: 20px;
}
.data_item span {
    display: inline-block;
    margin: 0 0 14px 14px;
}
/*SALE-----------------------------------------------------------*/
.sale {
    margin: 40px 0 0 0;
    justify-content: space-between;
    margin-bottom: 60px;
}
.sale_item {
    position: relative;
    box-shadow: 5px 2px 5px 0px #e0dbd7;
    border: 1px solid #ccc;
    width: 49%;

}
.task {
    width: 93%;
    position: absolute;
    left: 15px;
    top: -15px;
}
.task ol{
    display: flex;
    margin: 0;
    padding: 20px ;
    justify-content: space-between;
    padding: 10px;
}
.task li{
    width: auto;
    
}
.task a {
    display: block;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    padding: 5px;
}
.task a:hover{
    background-color: rgba(231, 230, 230, 0.5);
    box-shadow: unset;
}
.task ol li:nth-child(2){
    background-color:rgba(231, 230, 230, 0.5);
}
.task ol li:nth-child(2) a::before,
.task ol li:nth-child(3) a::before,
.task ol li:nth-child(4) a::before {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: text-bottom; 
}
.task ol li:nth-child(2) a::before {
    content: '';
    background-image: url(../img/bug.svg);
}
.task ol li:nth-child(3) a::before {
    content: '';
    background-image: url(../img/web.svg);
}
.task ol li:nth-child(4) a::before {
    content: '';
    background-image: url(../img/cloud.svg);
}
form {
    display: block;
}
form ul {
    margin: 51px 0 0 20px;
    font-size: 12px;
    padding: 0;
    color: rgb(51, 51, 51);
    width : 96%;
}
form li{
    border-bottom: 1px solid #ccc;
    margin:10px 0 10px 0 ;
    width: 96% ;
}
form img{
    margin-left: 15px;
}
form input{
    margin: 0 20px  
}
.emp {
   width: 48%;
   border: 1px solid #ccc;
   box-shadow: 5px 2px 5px 0px #e0dbd7;
   position: relative;
   padding-left: 10px;
}
.emp_item{
    width: 93%;
    position: absolute;
    left: 15px;
    top: -15px;
    margin-right: 15px;
    color: #fff;
}
.emp_item p{
    padding-left: 10px;
    margin: 5px 0 9px 0 ;
}
table {
    width: 96%;
    max-width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    margin-top: 40px;
    padding-left: 10px;
}
thead {
    color:#66b3c1 ;
}
table th, table td{
    text-align: left;
    padding: .5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
/*FOOTER------------------------------------------*/
.footer {
    display: flex;
    justify-content: space-between;
}
.footer ol{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.footer a {
    display: block;
    padding: 15px;
    text-transform:uppercase;
    color: rgb(78, 78, 78);
    text-decoration: none;
    font-weight: bold;
}
.footer a:hover{
    color: #ddd;
    box-shadow: 5px 2px 5px 0px rgb(155, 154, 154);

}
.footer p{
    padding: 15px;
}