body {
    max-width: 1200px; 
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    
}
.menu {
    width: 20%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f6f6f6;
    box-shadow: 5px 0px 3px 0px #CCCCCC;
}
h2 {
    
    margin: 20px 0 0 20px;
    font-weight: normal;
}
.line  {
    width: 98%;
    margin: 0 auto;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0 ;
}
ul {
    list-style-type: none;
    text-decoration: none;
}
li img {
    width: 20px;
    height: 20px;
    
}
ul a {
    text-decoration: none;
    padding: 10px 0px 10px 18px;
    display: block;
    width: 100%;
    color: #beb9b7;
}
a:hover {
    background-color: #c32056;
}
a::before {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: contain
}
ul  li:nth-child(1) a::before{
    content: '';
    background-image: url(../img/dashboard_gray.svg);

}
ul  li:nth-child(1):hover a::before{
    content: '';
    background-image: url(../img/dashboard_white.svg);

}
ul  li:nth-child(2) a::before{
    content: '';
    background-image: url(../img/account_gray.svg);
}
ul  li:nth-child(2):hover a::before{
    content: '';
    background-image: url(../img/account_white.svg);
}

ul  li:nth-child(3) a::before{
    content: '';
    background-image: url(../img/map_gray.svg);
}
ul  li:nth-child(3):hover a::before{
    content: '';
    background-image: url(../img/map_white.png);
}
ul  li:nth-child(4) a::before{
    content: '';
    background-image: url(../img/notify_gray.svg);
}
ul  li:nth-child(4):hover a::before{
    content: '';
    background-image: url(../img/notify_white.png);
}
ul  li:nth-child(5) a::before{
    content: '';
    background-image: url(../img/support_gray.svg);
}
ul  li:nth-child(5):hover a::before{
    content: '';
    background-image: url(../img/support_white.png);
}
li:nth-child(1) a:active{
    background-color: #c32056;
}
li {
    display: flex;
    width: 90%;
}
.main {
    margin-left: 23%;
}
.dash   {
    display: flex;
    justify-content: space-between;
}
.dash_item {
    width: 25%;
    position: relative;
    border: 1px solid #ccc;
    margin-top: 40px;
}
.dash_item img {
    width: 45px;
    height: 45px;
    padding: 10px;
}
.bars {
    width: 70px;
    height: 70px;
    background-color: #448b00;
    display: inline-block;
    position: absolute;
    left: 16px;
    top: -16px;
}
span {
    display: block;
    text-align: right;
}
p {
      text-align: right;
}
